<?xml version="1.0"?>
<launch>
    <arg name="rc_device" default="/dev/ttyUSB1"/>
    <!-- BRINGUP GUIDANCE -->
    <include file="$(find asv_launch)/launch/bringup_guidance.launch"/>
    <!-- BRINGUP NAVIGATION -->
	<include file="$(find asv_launch)/launch/bringup_navigation.launch"/>
    <!-- BRINGUP CONTROL -->
    <include file="$(find asv_launch)/launch/bringup_control.launch"/>
    <!-- BRINGUP COMMUNICATIONS -->
    <include file="$(find asv_launch)/launch/bringup_comms.launch">
        <arg name="rc_device" value="$(arg rc_device)"/>
    </include>
    <!-- BRINGUP HIGH LEVEL CONTROL -->
    <node pkg="asv_mission" type="supervisor.py" name="supervisor" output="screen">
        <rosparam command="load" file="$(find asv_mission)/params/supervisor.yaml"/>
    </node>
    <!-- BRINGUP THE ENERGY MODULES -->
    <include file="$(find asv_energy)/launch/power_systems.launch"/>
</launch>
