<?xml version="1.0"?>
<launch>
<arg name="shoreside_hostname" default="fft-laptop.local"/>
<arg name="shoreside_user" default="fft"/>
<arg name="env_path" default="/home/$(arg shoreside_user)/ROS_ws/src/asv_framework/asv_launch/envs/shoreside-env.sh"/>
<arg name="rc_device" default="/dev/ttyUSB1"/>
<machine name="shoreside" address="$(arg shoreside_hostname)" user="$(arg shoreside_user)" env-loader="$(arg env_path)"/>
<node pkg="asv_failsafe" type="nano_rc.py" name="nano_rc">
    <param name="device" value="$(arg rc_device)"/>
</node>
<node pkg="asv_control" type="teleop_remapping.py" name="teleop_remapper"/>
<node machine="shoreside" pkg="asv_failsafe" type="watchdog.py" name="shore_watchdog" respawn="true" respawn_delay="120">
    <remap from="out" to="failsafe/robot"/>
    <remap from="in" to="failsafe/shore"/>
</node>
<node pkg="asv_failsafe" type="watchdog.py" name="robot_watchdog">
    <remap from="out" to="failsafe/shore"/>
    <remap from="in" to="failsafe/robot"/>
    <param name="robot" value="true"/>
</node>
</launch>
