<?xml version="1.0"?>
<launch>
    <arg name="rc_device" default="/dev/ttyUSB1"/>
    <!-- BRINGUP SIMULATOR -->
    <node name="simulator" pkg="asv_control" type="nav_sim.py" output="screen">
        <remap from="gps/fix" to="ublox_gps/fix"/>
        <rosparam command="load" file="$(find asv_control)/params/sim_settings.yaml"/>
    </node>
    <!-- BRINGUP STATE ESTIMATION -->
	<include file="$(find asv_navigation)/launch/ekf.launch"/>
    <!-- BRINGUP HARDWARE CONTROLLERS -->
    <include file="$(find asv_control)/launch/hardware_level_control.launch">
        <arg name="SIL" value="false"/>
    </include>
    <!-- BRINGUP LOW LEVEL CONTROLLERS -->
    <include file="$(find asv_control)/launch/low_level_control.launch"/>
    <!-- BRINGUP COMMUNICATIONS -->
    <include file="$(find asv_launch)/launch/bringup_comms.launch">
        <arg name="rc_device" value="$(arg rc_device)"/>
    </include>
    <!-- BRINGUP GUIDANCE -->
    <include file="$(find asv_launch)/launch/bringup_guidance.launch"/>
    <!-- BRINGUP HIGH LEVEL CONTROL -->
    <node pkg="asv_mission" type="supervisor.py" name="supervisor" output="screen">
        <rosparam command="load" file="$(find asv_mission)/params/supervisor.yaml"/>
    </node>
    <!-- BRINGUP THE ENERGY MODULES -->
    <include file="$(find asv_energy)/launch/power_systems.launch"/>
</launch>
