<?xml version="1.0"?>
<launch>
    <arg name="log" default="false"/>
    <arg name="topics2log" default="-a"/>
    <!-- BRINGUP HMI -->
    <include file="$(find asv_launch)/launch/bringup_hmi.launch"/>
    <!-- BRINGUP LOGGER -->
    <group if="$(arg log)">
        <include file="$(find asv_launch)/launch/bringup_logger.launch">
            <arg name="topics2log" value="$(arg topics2log)"/>
        </include>
    </group>
</launch>