<launch>
    <arg name="record" default="false"/>

    <machine name="rpi" address="rpi" env-loader="/root/env.sh" user="root" password="ubuntu"/>

    <include file="$(find asv_launch)/launch/sensors/odometry.launch"/>

    <include file="$(find asv_launch)/launch/comms/comms.launch"/>

    <node if="$(arg record)" machine="rpi" name="logger" pkg="rosbag" type="record" args="-o /root/data/data /imu/data /to_ardu /tf /tf_static"/>

</launch>
