<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find asv_launch)/visualisation/asv.urdf"/>
    <arg name="gui" default="true"/>
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>
    <arg name="rviz_config" default="$(find asv_launch)/visualisation/sim-test.rviz"/>
    <machine name="asv-bbb" address="asv-bbb.local" env-loader="/home/ubuntu/bin/env.sh" user="ubuntu"/>
    <!-- nodes to be run on local machine -->
    <!-- Transforms from Earth to Map, and Map to Odom -->
    <include file="$(find asv_launch)/launch/transformations.launch"/>
    <!-- Dynamic Reconfiguration of PIDs -->
    <node name="dynamic_reconfigure" pkg="rqt_gui" type="rqt_gui" args="-s reconfigure"/>
    <!-- For visualisation of vehicles -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" output="log"/>
    <!-- nodes to be run on asv-bbb -->
    <!-- Plant Simulation (inputs achieved wrench, outputs pose + twist) -->
    <node machine="asv-bbb" name="nav_sim" pkg="asv_control" type="nav_sim.py" output="screen">
        <remap from="wrench" to="/tsol"/>
    </node>
    <!-- Pose Controller (inputs pose, outputs wrench commands -->
    <node machine="asv-bbb" name="pose_controller" pkg="asv_control" type="hold_position.py" output="screen">
        <remap from="~pose_request" to="/move_base_simple/goal"/>
        <rosparam command="load" file="$(find asv_control)/params/pid_settings.yaml"/>
    </node>
    <!-- Control Allocator (inputs wrench_commanded, outputs tsol + control signals) -->
    <node machine="asv-bbb" name="thruster_allocator" pkg="asv_control" type="qpthrust.py" output="screen">
        <remap from="/wrench" to="/wrench_commanded"/>
        <rosparam command="load" file="$(find asv_control)/params/thrusters.yaml"/>
    </node>
</launch>
