<launch>
<arg name="model" default="$(find asv_launch)/visualisation/asv.urdf"/>
<arg name="gui" default="true"/>
<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
<param name="use_gui" value="$(arg gui)"/>
<arg name="rviz_config" default="$(find asv_launch)/visualisation/asv-sim-test.rviz"/>

<include file="$(find asv_launch)/launch/transforms.launch"/>

<node name="pose_controller" pkg="asv_control" type="pose_controller.py" output="screen">
    <remap from="~pose_request" to="/move_base_simple/goal"/>
    <rosparam command="load" file="$(find asv_control)/params/pose_settings.yaml"/>
</node>

<node name="twist_controller" pkg="asv_control" type="twist_controller.py" output="screen">
    <remap from="~twist_request" to="/pose_controller/twist_commanded"/>
    <rosparam command="load" file="$(find asv_control)/params/twist_settings.yaml"/>
</node>

<node name="thruster_allocator" pkg="asv_control" type="thruster_allocator.py" output="screen">
    <remap from="wrench_commanded" to="/twist_controller/wrench_commanded"/>
    <rosparam command="load" file="$(find asv_control)/params/tam.yaml"/>
</node>

<node name="nav_sim" pkg="asv_control" type="nav_sim.py" output="screen">
    <remap from="wrench" to="/wrench_achieved"/>
</node>

<node name="dynamic_reconfigure" pkg="rqt_gui" type="rqt_gui" args="-s reconfigure"/>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" output="log" respawn="true"/>

</launch>
