<?xml version="1.0"?>
<launch>
    <arg name="SIL" default="false"/>
    <rosparam command="load" file="$(find asv_control)/params/thrustersAP.yaml"/>
    <rosparam command="load" file="$(find asv_control)/params/thrustersDP.yaml"/>
    <rosparam command="load" file="$(find asv_control)/params/motor_config.yaml"/>
    <node pkg="asv_control" type="ardudriver.py" name="ardudriver" output="screen">
        <param name="test" value="$(arg SIL)"/>
    </node>
    <node pkg="asv_control" type="constrained_fixed_allocation.py" name="allocator" output="screen"/>
    <node pkg="topic_tools" type="mux" name="control_topic_mux" args="tau_com/out tau_com/override tau_com/AP tau_com/DP" output="screen">
        <remap from="mux" to="control_topic_mux"/>
    </node>
</launch>
