<?xml version="1.0"?>
<launch>
    <node pkg="asv_control" type="controlmanager.py" name="controlmanager" output="screen">
        <remap from="mux/select" to="control_topic_mux/selected"/>
    </node>
    <node pkg="asv_control" type="autopilot.py" name="autopilot" output="screen"/>
    <node pkg="asv_control" type="dynamic_positioning.py" name="dynamic_position" output="screen"/>
</launch>
