<?xml version="1.0"?>
<launch>
	<arg name="bag_dir" default="$(env HOME)/test_results"/>
	<!-- RVIZ on shoreside -->
	<include file="$(find asv_launch)/launch/bringup_hmi.launch"/>
	<!-- IMU Launch -->
	<include file="$(find asv_navigation)/launch/um7.launch"/>
	<!--TF NODES FOR IMU -> BASE_LINK-->
	<node pkg="tf2_ros" type="static_transform_publisher" name="imu_link_ned_to_base_link" args="0 0 0 -1 0 0 0 base_link imu_link_ned"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="imu_link_to_base_link" args="0 0 0 0 0 0 1 base_link imu_link"/>
	<!-- TF NODE FOR BASE_LINK -> ODOM-->
	<node pkg="asv_navigation" type="imu_transform_broadcaster.py" name="baselink_to_odom" output="screen"/>
	<!-- Recording data node -->
  	<node pkg="rosbag" type="record" name="imu_data_recorder" args="record -o $(arg bag_dir)/imu_variance_test /imu/data /tf --split --size=2048"/>
</launch>