<?xml version="1.0"?>
<launch>
	<!-- COLLECTS RAW GPS AND IMU DATA, AND GIVES A REFERENCE ODOMETRY TOPIC -->
	<arg name="bag_dir" default="/home/ubuntu/test_results"/>
	<!-- BRINGUP SENSORS AND TFS -->
	<include file="$(find asv_navigation)/launch/sensors.launch"/>
	<node pkg="asv_navigation" type="odom_3D.py" name="unfiltered_odom" output="screen"/>
	<!-- Record all data -->
	<node pkg="rosbag" type="record" name="sensor_data_recorder" args="record -o $(arg bag_dir)/sensors -a --split --size=2048"/>
</launch>