<?xml version="1.0"?>
<launch>
	<!-- READ IN FLIGHT DATA FROM A BAGFILE, RUN THE EKF ON IT AND RECORD -->
	<arg name="bag_dir" default="/home/ubuntu/test_results"/>
	<!-- BRINGUP SENSORS -->
	<include file="$(find asv_navigation)/launch/sensors.launch"/>
	<!-- BRINGUP EKF -->
	<include file="$(find asv_navigation)/launch/ekf.launch"/>
	<!-- Record all data except camera feeds -->
  	<node pkg="rosbag" type="record" name="ekf_flight_data_recorder" args="record -o $(arg bag_dir)/ekf_motion_test -a --split --size=2048"/>
</launch>