<?xml version="1.0"?>
<launch>
	<!-- SUCCESSFUL TEST -->
	<include file="$(find asv_navigation)/launch/um7.launch"/>
	<node pkg="asv_navigation" type="imu_transform_broadcaster.py" name="baselink_to_odom" output="screen"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find asv_launch)/rviz/imu-config.rviz"/>
</launch>