<?xml version="1.0"?>
<launch>
	<node pkg="tf2_ros" type="static_transform_publisher" name="bl_gps" args="0 0 0 0 0 0 1 base_link gps_link"/>
	<!--TF NODES FOR IMU -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="imu_link_ned_to_base_link" args="0 0 0 -1 0 0 0 base_link imu_link_ned"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="imu_link_to_base_link" args="0 0 0 0 0 0 1 base_link imu_link"/>
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_global" clear_params="true" output="screen">
	<remap from="diagnostics" to="diagnostics/ekf"/>
	<rosparam command="load" file="$(find asv_navigation)/params/ekf.yaml"/>
	</node>
	<node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true" output="screen">
		<remap from="gps/fix" to="ublox_gps/fix"/>
		<rosparam command="load" file="$(find asv_navigation)/params/navsat_tf.yaml"/>
	</node>
</launch>