<?xml version="1.0"?>
<launch> 
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_global" clear_params="true">
    <remap from="diagnostics" to="diagnostics/ekf"/>
    <rosparam command="load" file="$(find asv_navigation)/params/ekf.yaml"/>
  </node>
    <!-- TFS -->
  <include file="$(find asv_navigation)/launch/tfs.launch"/>
</launch>